body {
  margin: 0;
  font-family:VT323;
  color:#070455;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #b3e5fc ;
  font-size: 25px;
  height:100vh;
  overflow:hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper{
  display:grid;
  grid-template-columns: 80px 1000px 320px;
  gap: 10px;
  background-color: #070455;
  padding:10px;
}

.rankColumn{
  display:flex;
  flex-direction: column;
  gap: 10px;
}

.rankSpaceColumn{
  display:flex;
  flex-direction: column;
  gap: 10px;
}

.bankColumn{
  display:flex;
  flex-direction: column;
  gap: 10px;
}
.tierBase{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 80px;
  height:70px;
}
.sTier{
  background-color: #ec7063;
}
.aTier{
  background-color: #eb984e;
}
.bTier{
  background-color: #f8c471;
}
.cTier{
  background-color: #f7dc6f;
}
.dTier{
  background-color: #9ccc65;
}
.fTier{
  background-color: #4caf50;
}
.rankSpace{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(48px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(48px, 1fr));
  background-color:#90caf9 ;
  height: 70px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.bank{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(48px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(48px, 1fr));
  gap:10px;
  background-color: #90caf9 ;
  height: 470px;
  width: 100%;
  align-items: center;
  justify-items: center;
}
#emoji{
  padding: 20px;
  font-size: 30px;
  cursor:grab;
  text-align: center;
  display:grid;
}
#emoji:active{
  cursor:grabbing;
}
#intro{
  padding:0px 15px 0px 15px;
}
#description{
  padding:0px 350px 0px 20px;
}
.hoverLabel{
  font-size:15px;
  padding:3px;
  background-color:#b3e5fc ;
  white-space: nowrap;
  border-radius: 5px;
  border-style:outset;
  border-width: 2px;
  border-color:#070455;
}

